<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student api</title>
</head>
<body>
    <h1>hey this is the Student Api</h1>

    <p>go to link section above the panel and write end of the link as /students and you got the students data with age and major. if you want to add the data then you have to go to postman and insert data ans post method and also you can check the data with write after students /id and you got the data of that particular id student</p>
</body>
</html>